@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.welcome-logo h1 {
    text-align: center;
}

.welcome-logo svg {
    height: auto;
    width: 5rem;
    margin: 0 auto;
}

/** COMPONENTS **/

/**
 Data cards component
 */
.data-cards_properties {
    flex-wrap: wrap;
}

.data-cards_properties .data-cards_property:not(:last-child) {
    margin-right: 1rem;
}

/**
 Forms
 */
.admin-form__inner-field {
    position: relative;
    display: block;
}

.admin-form__inner-field--flex {
    align-items: center;
    flex-wrap: wrap;
}

.admin-form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.admin-form__inner-field .admin-form__checkbox:not(:last-child) {
    margin-right: 1rem;
}
